header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: #fff;
  border-bottom: 1px solid rgb(80, 79, 79);
}
.header-box {
  margin: 0 auto;
  width: 80%;
}
.header-box .logo {
  font-weight: 400;
}
.scroll-line {
  height: 2px;
  width: 0%;
  background: #000;
  margin-bottom: -2px;
}
.content {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
}
.content > p {
  font-weight: 300;
  font-size: 130%;
  line-height: 60px;
  color: #4c4c4c;
  font-family: system-ui;
}
